[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Battery SOC%
Comment=read & display battery charge level
Icon=/home/pi/cairo_bat/bat_icon.png
Exec=/home/pi/cairo_bat/application
Terminal=false
Categories=Graphics
